* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  position: relative;
  padding: 0px 16px;
  background-image: url(../images/bg-img-lottery.png);
  background-size: cover;
  background-position: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.teer {
  text-align: center;
  letter-spacing: 5px;
  font-size: 30px;
}
.btn-join {
  background-color: blue;
  border: 0;
  color: white;
  border-radius: 30px;
  padding: 12px 26px;
  border: 1px solid white;
  cursor: pointer;
  text-wrap: nowrap;
  font-size: 24px;
  transition: all 500ms;
}
.btn-join:hover {
  box-shadow: inset 400px 1px 1px -1px #fff;
  color: blue;
  border: 1px solid blue;
}
p {
  color: white;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.text_shot {
  font-size: 18px;
  margin-top: 20px;
  letter-spacing: 1px;
}
.flex_div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: auto;
  gap: 15px;
  margin-right: auto;
}
.text_tik {
  font-size: 16px;
}
